CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE TABLE IF NOT EXISTS "core_sectiontextbook" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "requirement_type" varchar(30) NOT NULL, "section_id" varchar(20) NOT NULL REFERENCES "core_section" ("section_id") DEFERRABLE INITIALLY DEFERRED, "textbook_id" varchar(10) NOT NULL REFERENCES "core_textbook" ("textbook_id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "core_coursetextbook" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "course_id" varchar(10) NOT NULL REFERENCES "core_course" ("course_id") DEFERRABLE INITIALLY DEFERRED, "textbook_id" varchar(10) NOT NULL REFERENCES "core_textbook" ("textbook_id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "core_sectiontextbook_section_id_a3d95a05" ON "core_sectiontextbook" ("section_id");
CREATE INDEX "core_sectiontextbook_textbook_id_570eed8a" ON "core_sectiontextbook" ("textbook_id");
CREATE INDEX "core_coursetextbook_course_id_67c0eee3" ON "core_coursetextbook" ("course_id");
CREATE INDEX "core_coursetextbook_textbook_id_229b5fe0" ON "core_coursetextbook" ("textbook_id");
CREATE TABLE IF NOT EXISTS "core_instructor" ("name" varchar(50) NOT NULL, "department" varchar(30) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(15) NOT NULL, "city" varchar(50) NULL, "password_hash" varchar(128) NULL, "state" varchar(50) NULL, "zip_code" varchar(12) NULL, "instructor_id" varchar(12) NOT NULL PRIMARY KEY);
CREATE TABLE IF NOT EXISTS "core_student" ("name" varchar(50) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(15) NOT NULL, "city" varchar(50) NULL, "password_hash" varchar(128) NULL, "state" varchar(50) NULL, "zip_code" varchar(12) NULL, "student_id" varchar(12) NOT NULL PRIMARY KEY);
CREATE TABLE IF NOT EXISTS "core_studentaccount" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "student_id" varchar(12) NOT NULL UNIQUE REFERENCES "core_student" ("student_id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "core_enrollment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "section_id" varchar(20) NOT NULL REFERENCES "core_section" ("section_id") DEFERRABLE INITIALLY DEFERRED, "student_id" varchar(12) NOT NULL REFERENCES "core_student" ("student_id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "core_enrollment_section_id_04b0af00" ON "core_enrollment" ("section_id");
CREATE INDEX "core_enrollment_student_id_e42e49b3" ON "core_enrollment" ("student_id");
CREATE TABLE IF NOT EXISTS "core_borrow" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "status" varchar(30) NOT NULL, "start_date" date NOT NULL, "end_date" date NULL, "student_id" varchar(12) NOT NULL REFERENCES "core_student" ("student_id") DEFERRABLE INITIALLY DEFERRED, "textbook_id" varchar(10) NOT NULL REFERENCES "core_textbook" ("textbook_id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "core_borrow_student_id_15699bc0" ON "core_borrow" ("student_id");
CREATE INDEX "core_borrow_textbook_id_7029b7c5" ON "core_borrow" ("textbook_id");
CREATE TABLE IF NOT EXISTS "core_instructoraccount" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "approved" bool NOT NULL, "instructor_id" varchar(12) NULL UNIQUE REFERENCES "core_instructor" ("instructor_id") DEFERRABLE INITIALLY DEFERRED, "pending_city" varchar(50) NULL, "pending_department" varchar(30) NULL, "pending_password_hash" varchar(128) NULL, "pending_phone" varchar(15) NULL, "pending_state" varchar(50) NULL, "pending_zip_code" varchar(12) NULL);
CREATE TABLE IF NOT EXISTS "core_bookprovider" ("provider_name" varchar(75) NOT NULL, "contact_number" varchar(15) NOT NULL, "address" varchar(100) NOT NULL, "provider_id" varchar(10) NOT NULL PRIMARY KEY);
CREATE TABLE IF NOT EXISTS "core_textbook" ("title" varchar(100) NOT NULL, "author" varchar(75) NOT NULL, "edition" varchar(10) NOT NULL, "isbn" varchar(13) NOT NULL UNIQUE, "price" decimal NOT NULL, "provider_id" varchar(10) NOT NULL REFERENCES "core_bookprovider" ("provider_id") DEFERRABLE INITIALLY DEFERRED, "textbook_id" varchar(10) NOT NULL PRIMARY KEY);
CREATE INDEX "core_textbook_provider_id_2cd056d3" ON "core_textbook" ("provider_id");
CREATE TABLE IF NOT EXISTS "core_course" ("course_name" varchar(75) NOT NULL, "description" varchar(200) NOT NULL, "course_id" varchar(10) NOT NULL PRIMARY KEY);
CREATE TABLE IF NOT EXISTS "core_section" ("year" integer NOT NULL, "semester" varchar(6) NOT NULL, "course_id" varchar(10) NOT NULL REFERENCES "core_course" ("course_id") DEFERRABLE INITIALLY DEFERRED, "instructor_id" varchar(12) NOT NULL REFERENCES "core_instructor" ("instructor_id") DEFERRABLE INITIALLY DEFERRED, "section_id" varchar(20) NOT NULL PRIMARY KEY);
CREATE INDEX "core_section_course_id_b447b4aa" ON "core_section" ("course_id");
CREATE INDEX "core_section_instructor_id_efef7f3c" ON "core_section" ("instructor_id");
