{% extends 'base.html' %}
{% block title %}Courses{% endblock %}

{% block content %}
<h2 class="mb-4 fw-bold"><i class="bi bi-book-half"></i> Courses</h2>

<div class="row g-4">
    {% for course in courses %}
    <div class="col-md-4">
        <a href="{% url 'course_detail' course.course_id %}" class="text-decoration-none">
            <div class="card p-3 card-hover">
                <h5 class="fw-bold mb-1">{{ course.course_name }}</h5>
                <p class="text-muted">{{ course.dept_name }}</p>
                <p class="mb-0">{{ course.course_id }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
