{% extends 'base.html' %}
{% block title %}Student Registration{% endblock %}
{% block content %}

<div class="card p-4 mx-auto" style="max-width: 400px;">
    <h3 class="fw-bold mb-3 text-center">Student Registration</h3>

    <form method="post">
        {% csrf_token %}
        
        <label class="form-label">Student ID</label>
        <input type="text" name="student_id" class="form-control mb-3" required>

        <label class="form-label">First Name</label>
        <input type="text" name="first_name" class="form-control mb-3" required>

        <label class="form-label">Last Name</label>
        <input type="text" name="last_name" class="form-control mb-3" required>

        <label class="form-label">Email</label>
        <input type="text" name="email" class="form-control mb-3" required>

        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control mb-3" required>

        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control mb-3" required>

        <button class="btn btn-success w-100">Register</button>
        <div class="text-center mt-2">
            <a href="{% url 'student_login' %}">Already have an account?</a>
        </div>
    </form>
</div>

<div class="text-center mt-3">
    <a href="{% url 'landing' %}" class="text-decoration-none">
        ← Return to Home
    </a>
</div>

{% endblock %}
