{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

<div class="max-width-form mx-auto mt-5 p-4 card card-hover shadow-sm">

    <h3 class="fw-bold text-center mb-4">Reset Password</h3>

    <form method="POST">
        {% csrf_token %}

        {% if step == 1 %}
            <p class="text-muted small mb-4">Enter your email to reset your password.</p>
            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>
        {% endif %}

        {% if step == 2 %}
            <p class="text-muted small mb-4">
                Reset password for <strong>{{ student.email }}</strong>
            </p>
            <input type="hidden" name="email" value="{{ student.email }}">
            <div class="mb-3">
                <label>New Password</label>
                <input type="password" name="password1" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Confirm Password</label>
                <input type="password" name="password2" class="form-control" required>
            </div>
        {% endif %}

        <button class="btn btn-primary w-100 mt-3">Continue</button>
    </form>

</div>

<div class="text-center mt-3">
    <a href="{% url 'landing' %}" class="text-decoration-none">
        ← Return to Home
    </a>
</div>

{% endblock %}
